.GameSetup-container {
  display: grid;
  padding: 30px;
  color: white;
}

.GameSetup-match-list {
  display: grid;
  padding-top: 80px;
  grid-template-rows: 1fr 1fr;
}

.GameSetup-match-list-item {
  color: white;
  padding-bottom: 10px;
}

.GameSetup-match-list-title {
  color: white;
  font-size: 24px;
  padding-bottom: 20px;
}
